.container{
    border: 2px solid rgb(146, 172, 202);
    width: 25%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10%;
}

#imgUser{
    border-radius: 50%;
    border: 1px solid rgb(182, 187, 216);
    width: 100px;
}